<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        h4 {text-align: center;}
        <


    </style>
</head>
<body>
    <body style="background-color: black;", style="color: white;"> 
    <img src="static/images/logo.png" width="500" height="100" class="center">

    <!-- <a href="/library"><button>back to library</button>
 -->
   <h2 style="color:white"> {% for i in liked_songs %} </h2>
   
    <h3 style="color:white">{{i}}<a href="/remove/{{i}}"> remove </a></h3>

    {% endfor %}
<br>
<br>

    <a href="/library"><button>back to library</button>



</body>